assignment_0/build/
assignment_0/build_debug/
assignment_1/build/
assignment_1/build_debug/
assignment_1/.vscode/
assignment_0/.vscode/
assignment_3/build/
assignment_3/build_debug/
assignment_3/.vscode/
assignment_2/build/
assignment_2/build_debug/
assignment_0/.vscode/
assignment_7/build/
assignment_7/.vscode/
